#icon {
  width: 80px;
  display: inline;
  position:relative;
  top: 10px;
}
.no-border{
  border: 0;
  box-shadow: none;
}
.no-bgcolor{
  background-color: none;
}
.meronav{
  margin-left: 10px;
  font-size: 23px;
  font-weight:400;
}
.merobutton{
  margin-right: 10px;
}